{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm col-7 mx-auto">
  <div class="card-header bg-dark text-white">
    <h3 class="mb-0"> Goods Pickup</h3>
  </div>

  <div class="card-body">

    <h5 class="mb-4">
      Customer:
      <strong>{{ customer.full_name }}</strong>
    </h5>

      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <form method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label">Product</label>

        <select name="product" class="form-select {% if messages %}is-invalid{% endif %}" required>
        {% for message in messages %}
         {% if "product" in message.tags %}
        <small class="text-danger">{{ message }}</small>
        {% endif %}
        {% endfor %}
          <option value="">Select Product</option>

          {% for product in products %}
          <option value="{{ product.id }}">
            {{ product.product_name }} - {{ product.selling_price|floatformat:2 }}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Quantity</label>

        <input type="number" name="quantity" class="form-control {% if messages %}is-invalid{% endif %}" min="1">

      <div class="mb-3 form-check">
        <input
          class="form-check-input"
          type="checkbox"
          name="transport_required"
          id="transport_required"
        />
        <label class="form-check-label" for="transport_required">
          Require Transport
        </label>
      </div>

      <div class="mb-3">
        <label class="form-label">Distance (KM)</label>
        <input type="number" name="distance" class="form-control {% if messages %}is-invalid{% endif %}" min="0">

      </div>

      <button type="submit" class="btn btn-dark">Confirm Pickup</button>

      <a
        href="{% url 'customer_scheme_detail' customer.id %}"
        class="btn btn-secondary"
      >
        Cancel
      </a>
    </form>
  </div>
</div>

{% endblock %}